/*import { Component } from '@angular/core';

@Component({
 selector: 'employee-app1',
 templateUrl: './employee.html',
 styleUrls: ['./app.component.css']
}) 
export class AppComponent {
 title = 'app';
}*/